*{
    margin: 0;
    padding: 0;
    font-family:  'Arial Narrow', Arial, sans-serif;    
    }
    body{
        display: flex;
        min-height: 100vh;
        background: #ffffff;
    }
    .cv {
       
        display: flex;
        justify-content: baseline;
        align-items: center;
        position: fixed;
        min-height: 100vh;
        width: 100%;
        height: 100%;
        background: linear-gradient(-30deg, #03a9f4,#20466b 50%, #0ad3b5 50%, #305853 100% );
        /* filter: hue-rotate(120deg); */
    }
    
    .container{
        position: fixed;
        right: 10px;
        top: 20px;
    }
    
    .container .cart {
        position: relative ; 
        width: 320px;
        height: 600px;
        background: #333333 ;
        border-radius: 20px;
        overflow: hidden;
        box-shadow: 0 5px 35px rgba(0, 0, 0, 0.5);
    }
    .container .cart:before {
     content: "";
     position: absolute;
     top: 0;
     left: 0;
     width: 100%;
     height: 100%;
     background:  #0000ff ;
     clip-path: circle(120px at 80% 20%);
      transition: 1s ease-in-out; 
    }
    .container .cart:hover:before {
        clip-path: circle(300px at 80% -30%);
    }
    .container .cart:after{
    content: "Zuyn";
    position: absolute;
    top: 50%;
    left: -20%;
    font-size: 12em;
    font-weight: 700;
    font-style: italic;
    color: rgba(255, 255, 255, 0.04);
    
    }
    .container .cart .image-profile{
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        top:40%;
        transform: translateY(-50%);
        z-index: 1000;
        width: 100%;
        height: 50%;
        transition: 0.5s;
        clip-path: polygon(50% 0%, 90% 20%, 100% 60%, 75% 100%, 25% 100%, 0% 60%, 10% 20%);
        background-color: #0003a3;
    }
    .container .cart:hover .image-profile{
        top:0%;
        transform: translateY(0%);
    }
    
    .container .cart .image-profile img {
        position: absolute;
        width: 90%;
        height: 90%;
        clip-path: polygon(50% 0%, 90% 20%, 100% 60%, 75% 100%, 25% 100%, 0% 60%, 10% 20%);
      }
    
     .container .cart .contentProfile{
        position: absolute;
        bottom: 0;
        text-align: center; 
        height: 30%; 
        width: 100%;
        transition: 1s;
        z-index: 10;
    } 
    .container .cart:hover .contentProfile{
        height: 45%;
    }
    .container .cart .contentProfile h2{
    position: relative;
    font-weight: 600;
    letter-spacing: 1px;
    color: #ffffff;
    }
    .container .cart .contentProfile .mail,
    .container .cart .contentProfile .birthday,
    .container .cart .contentProfile .phone{
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 8px 20px;
        transition: 0.5s;
        opacity: 0;
        visibility: hidden;
    
    }
    .container .cart:hover .contentProfile .birthday{
        opacity: 1;
        visibility: visible;
        transition-delay: 0.5s;
    }
    .container .cart:hover .contentProfile .phone{
        opacity: 1;
        visibility: visible;
        transition-delay: 1s;
    }
    .container .cart:hover .contentProfile .mail{
        opacity: 1;
        visibility: visible;
        transition-delay: 1.5s;
    }
    .container .cart .contentProfile .mail h3,
    .container .cart .contentProfile .birthday h3,
    .container .cart .contentProfile .phone h3{
       color: #ffffff;
       font-weight: 500;
        font-size: 14px;
        text-transform: uppercase;
        letter-spacing: 2px;
        margin-right: 10px;
    }
    .container .cart .contentProfile .birthday span{
        width: 30px;
        height: 26px;
        text-align: center;
        line-height: 26px; 
        font-size: 14px;
        font-weight: 800;
        display: inline-block;
        color: #111;
        background: #ffffff;
        margin: 0 5px;
        transition:  0.5s;
        border-radius: 5px;
        cursor: pointer;
    
    }
    .container .cart .contentProfile .birthday span:hover{
        background: #10a9b4;
    }
    
    .container .cart .contentProfile .phone span{
        text-align: center;
        font-size: 14px;
        font-weight: 800;
        color: #ffffff;
        transition: 1s;
        transform: translateY(0px);
    
    }
    .container .cart .contentProfile .mail span{
        text-align: center;
        font-size: 14px;
        font-weight: 800;
        color: #ffffff;
        transition: 1s;
        transform: translateY(0px);
    
    }
    .container .cart .contentProfile a{
        display: inline-block;
        margin-top: 10px;
        opacity: 0;
        transform: translateY(50px);
        transition: 1.5s;
    }
    .container .cart:hover .contentProfile a{
        opacity: 1;
        transform: translateY(0px);
    }
    .container .cart .contentProfile a:hover{
        transform: scale(1.2);
    }
     .profile-cv{
        overflow: auto;
        position: relative;
        margin-left: 5%;
        padding: 50px;
        width: 65%;
        height: 70%;
        background: rgba(255, 255, 255, 0.1);
        border-radius: 6px;
        box-shadow: 0 5px 35px rgba(0, 0, 0, 0.2);
         backdrop-filter: blur(5px); 
        border: 1px solid rgba(255, 255, 255, 0.5);
        border-right: 1px solid rgba(255, 255, 255, 0.5);
        border-bottom: 1px solid rgba(255, 255, 255, 0.5);
    } 
     .profile-cv::-webkit-scrollbar { 
        display: none; 
    } 
    
    .cv .square{
        position: absolute;
        backdrop-filter: blur(5px);
        background: rgba(255, 255, 255, 0.3);
        border-radius: 6px;
        box-shadow: 0 5px 35px rgba(0, 0, 0, 0.2);
        animation: animate 10s linear infinite ;
    }
    @keyframes animate {
        0%,100%{
            transform: translateY(-30px);
        }
        50%{
            transform: translateY(30px);
        }
    }
    .cv .square:nth-child(1){
        top: 20px;
        right: 320px;
        width: 80px;
        height: 80px;
    }
    .cv .square:nth-child(2){
        top: 250px;
        left: 0px;
        width: 100px;
        height: 100px;
        z-index: 10;
    }
     .cv .square:nth-child(3){
        top: 30px;
        left: 300px;
        width: 200px;
        height: 200px;
    }
    .cv .square:nth-child(4){
        top: 600px;
        right: 300px;
        width: 100px;
        height: 100px;
        z-index: 9;
    } 
    
    .item1 { grid-area: header; }
    .item2 { grid-area: main; }
    .item3 { grid-area: right; }
    .item4 { grid-area: footer; }
    
    .profile-cv  {
      display: grid;
      grid-template-areas:
        'header header header header header'
        'main main main right right'
        'footer footer footer footer footer';
      grid-gap: 30px;
    }
    
    .profile-cv > div {
      background-color: rgba(255, 255, 255, 0.5);
      text-align: center;
      padding: 10px 0;
      font-size: 30px;
    }
    .profile-cv  .item3  p,
    .profile-cv  .item1  h3,
    .profile-cv  .item2  p{
       margin: 10px;
       background-color: aliceblue;
    }
    
    .profile-cv .item1{
        margin-left: 50px;
        margin-right: 50px;
    }
    
    .profile-cv .item1 .education{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .profile-cv .item1 .faculty{
        margin-left: 80px;
        margin-right: 80px;
        display: flex;
        justify-content: center;
        font-size: 25px;
    }
    .profile-cv .item1 .faculty span{
        margin: 0 5px;
    }